[Desktop Entry]
Name=Calculator
Name[aa]=Cisaabeyná
Name[am]=መደመሪያ
Name[ar]=الآلة الحاسبة
Name[ast]=Calculadora
Name[az]=Kalkulyator
Name[be]=Калькулятар
Name[bg]=Калкулатор
Name[br]=Jederez
Name[bs]=Kalkulator
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulačka
Name[cy]=Cyfrifiannell
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[el]=Αριθμομηχανή
Name[en_AU]=Calculator
Name[en_CA]=Calculator
Name[en_GB]=Calculator
Name[eo]=Kalkulilo
Name[es]=Calculadora
Name[eu]=Kalkulagailua
Name[fa]=ماشین‌حساب
Name[fi]=Laskin
Name[fo]=Roknitól
Name[fr]=Calculatrice
Name[fr_CA]=Calculatrice
Name[gd]=An t-àireamhair
Name[gl]=Calculadora
Name[gu]=કેલ્ક્યુલેટર
Name[he]=מחשבון
Name[hi]=कैलकुलेटर
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[id]=Kalkulator
Name[is]=Reiknivél
Name[it]=Calcolatrice
Name[ja]=電卓
Name[km]=ម៉ាស៊ីន​គិត​លេខ
Name[ko]=계산기
Name[lv]=Kalkulators
Name[mr]=गणनयंत्र
Name[ms]=Kalkulator
Name[my]=ဂဏန်းတွက်စက်
Name[nb]=Kalkulator
Name[ne]=क्याल्कुलेटर
Name[nl]=Rekenmachine
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[sa]=सङ्कलकम्
Name[shn]=ၸၢၵ်ႈၼပ့်သွၼ်
Name[sk]=Kalkulačka
Name[sl]=Računalo
Name[sr]=Калкулатор
Name[sv]=Kalkylator
Name[ta]=கணிப்பான்
Name[te]=గణన పరికరం
Name[tr]=Hesap Makinesi
Name[ug]=ھېسابلىغۇچ
Name[uk]=Калькулятор
Name[uz]=Kalkulyator
Name[zh_CN]=计算器
Name[zh_HK]=計數機
Name[zh_TW]=計算機
Comment=A calculator for Ubuntu.
Comment[aa]=Ubuntu cisaabeyná
Comment[am]=ለ ኡቡንቱ ማስሊያ
Comment[ast]=Una calculadora pa Ubuntu
Comment[az]=Ubuntu üçün kalkulyator.
Comment[be]=Калькулятар Ubuntu.
Comment[br]=Ur jederez evit Ubuntu
Comment[bs]=Digitron za Ubuntu.
Comment[ca]=Una calculadora per a l'Ubuntu.
Comment[ca@valencia]=Una calculadora per a l'Ubuntu.
Comment[cs]=Kalkulátor pro Ubuntu.
Comment[cy]=Cyfrifiannell ar gyfer Ubuntu
Comment[da]=En lommeregner for Ubuntu.
Comment[de]=Ein Taschenrechner für Ubuntu
Comment[el]=Αριθμομηχανή για το Ubuntu.
Comment[en_AU]=A calculator for Ubuntu.
Comment[en_GB]=A calculator for Ubuntu.
Comment[eo]=Kalkulilo por Ubuntu.
Comment[es]=Una calculadora para Ubuntu.
Comment[eu]=Ubunturako kalkulagailu bat.
Comment[fa]=ماشین‌حسابی برای اویونتو
Comment[fi]=Laskin Ubuntulle
Comment[fo]=Eitt roknitól til Ubuntu.
Comment[fr]=Une calculatrice pour Ubuntu.
Comment[fr_CA]=Une calculatrice pour Ubuntu.
Comment[gd]=Àireamhair airson Ubuntu.
Comment[gl]=Calculadora para Ubuntu
Comment[he]=מחשבון לאובונטו.
Comment[hr]=Kalkulator za Ubuntu
Comment[hu]=Számológép Ubuntuhoz.
Comment[id]=Kalkulator untuk Ubuntu
Comment[it]=Una calcolatrice per Ubuntu.
Comment[lv]=Ubuntu kalkulators
Comment[ms]=Kalkulator untuk Ubuntu.
Comment[nb]=Kalkulatorprogram for Ubuntu.
Comment[nl]=Een rekenmachine voor Ubuntu.
Comment[pa]=ਉਬੰਤੂ ਲਈ ਇੱਕ ਕੈਲਕੁਲੇਟਰ
Comment[pl]=Kalkulator dla Ubuntu
Comment[pt]=Calculadora para Ubuntu.
Comment[pt_BR]=Uma calculadora para Ubuntu.
Comment[ro]=Un calculator pentru Ubuntu
Comment[ru]=Калькулятор для Ubuntu.
Comment[sk]=Kalkulačka pre Ubuntu
Comment[sl]=Računalo za Ubuntu
Comment[sr]=Калкулатор за Убунту.
Comment[sv]=En kalkylator för Ubuntu.
Comment[tr]=Ubuntu için bir hesap makinesi.
Comment[ug]=ئۇبۇنتۇدىكى ھېسابلىغۇچى
Comment[uk]=Калькулятор Ubuntu.
Comment[zh_CN]=Ubuntu适用的计算器。
Comment[zh_TW]=Ubuntu 計算機。
Keywords=math;addition;subtraction;multiplication;division;
Keywords[aa]=cisab;ossa;kalti;agra;kura;
Keywords[am]=ሂሳብ;መደመሪያ;መቀነሻ;ማባዣ;ማካፈያ;
Keywords[ar]=رياضة;ياضيات;حساب;حسابات;جمع;طرح;ضرب;قسمة;
Keywords[ast]=matemática;suma;resta;multiplicación;división;
Keywords[az]=riyaziyyat;әlavә etmә;çıxma;vurma;bölmә;toplama;
Keywords[be]=math;addition;subtraction;multiplication;division;математика;додавання;віднімання;множення;ділення;калькулятор;
Keywords[br]=matematikoù;sammadenn;lamadenn;lieskementadenn;rannadenn;
Keywords[bs]=matematičke operacije;sabiranje;oduzimanje;množenje;dijeljenje
Keywords[ca]=suma;resta;calculadora;multiplica;divideix
Keywords[ca@valencia]=suma;resta;calculadora;multiplica;divideix
Keywords[cs]=matematika;sčítání;dělení;odčítání;násobení
Keywords[cy]=math;adio;tynnu;lluosi;rhannu;
Keywords[da]=matematik;plus;minus;gange;dividere;beregning;lommeregner;
Keywords[de]=Mathe;Mathematik;Multiplikation;Subtraktion;Addition;Division;
Keywords[el]=math;addition;subtraction;multiplication;division;μαθηματικά;μαθηματικα;πρόσθεση;προσθεση;αφαίρεση;αφαίρεση;πολλαπλασιασμός;πολλαπλασιασμος;διαίρεση;διαιρεση;
Keywords[en_AU]=math;addition;subtraction;multiplication;division;
Keywords[en_GB]=maths;addition;subtraction;multiplication;division;
Keywords[es]=matemática;suma;resta;multiplicación;división;
Keywords[eu]=matematikak;gehitu;kendu;biderkatu;zatitu;
Keywords[fa]=math;addition;subtraction;multiplication;division;
Keywords[fi]=math;addition;subtraction;multiplication;division;matematiikka;lisäys;vähennys;kertaus;jakaminen;
Keywords[fo]=støddfrøði;samanlegging;frádráttur;falding;býting
Keywords[fr]=math;addition;soustraction;multiplication;division;
Keywords[fr_CA]=maths;maths;addition;soustraction;multiplication;division;
Keywords[gd]=math;addition;subtraction;multiplication;division;matamataig;roinneadh;toirt air falbh;cur ris;iomadadh
Keywords[gl]=matemáticas;suma;resta;multiplicación;división;
Keywords[he]=מתמטיקה;חשבון;חיבור;חיסור;כפל;חילוק;
Keywords[hr]=math;addition;subtraction;multiplication;division;
Keywords[hu]=számolás;összeadás;kivonás;szorzás;osztás;
Keywords[id]=math;addition;subtraction;multiplication;division;matematika;penjumlahan;pengurangan;perkalian;pembagian;
Keywords[is]=reikna;samlagning;frádráttur;margföldun;deiling
Keywords[it]=matematica;addizioni;sottrazioni;moltiplicazioni;divisioni;
Keywords[ja]=math;addition;subtraction;multiplication;division;計算;電卓;足し算;引き算;かけ算;わり算;
Keywords[km]=math;addition;subtraction;multiplication;division;
Keywords[ko]=수학;덧셈;뺄셈;곱셈;나눗셈;
Keywords[lv]=matematika;saskaitīt;atņemt;reizināt;dalīt;
Keywords[ms]=matematik;tambah;tolak;darab;bahagi;
Keywords[nb]=matte;addisjon;subtraksjon;multiplikasjon;divisjon;
Keywords[ne]=गणित; जोड्; घटाउ; गुणन; विभाजन;
Keywords[nl]=wiskunde;optellen;aftrekken;vermenigvuldigen;delen;
Keywords[pa]=ਹਿਸਾਬ;ਜੋੜ;ਘਟਾਉ;ਗੁਣਾ;ਭਾਗ;
Keywords[pl]=liczenie;dodawanie;odejmowanie;mnożenie;dzielenie;
Keywords[pt]=matemática;soma;subtracção;multiplicação;divisão;
Keywords[pt_BR]=matemática;adição;subtração;multiplicação;divisão
Keywords[ro]=matematică;adunare;scădere;înmulțire;împărțire
Keywords[ru]=математика;сложение;умножение;деление;
Keywords[sa]=गणितम्;योजनम्;वियोजनम्;गुणनम्;विभाजनम्;
Keywords[sk]=matematika;sčítanie;odčítanie;násobenie;delenie;
Keywords[sl]=matematika;seštevanje;odštevanje;množenje;deljenje;
Keywords[sr]=математика;сабирање;одузимање;множење;дељење;
Keywords[sv]=matematik;addition;subtraktion;multiplikation;division
Keywords[tr]=matematik;ekleme;çıkarma;çarpma;bölme;toplama
Keywords[ug]=ماتېماتىكا;قوشۇش;ئېلىش;كۆپەيتىش;بۆلۈش;
Keywords[uk]=math;addition;subtraction;multiplication;division;математика;додавання;віднімання;множення;ділення;калькулятор;
Keywords[zh_CN]=数学;加;减;乘;除;
Keywords[zh_TW]=math;addition;subtraction;multiplication;division;數學;加;減;乘;除;
Exec=ubuntu-calculator-app %u
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Color=#F5F5F5
